$accentcolor: #E27B3A;
$productsbackground: #FCF2EB;
$alltextcolor: #170C04;

$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

$popp700: 700;
$popp500: 500;
$popp400: 400;
$robo400: 400;

*{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 31px;
  width: 1144px;
  height: 39px;

  &__logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    display: flex;
    align-items: center;
    color: $alltextcolor;
  }

  &__navbar {
    &__item {
      margin: 0 20px;
      font-family: "Roboto", sans-serif;
      color: $alltextcolor;

      &:hover {
        border-bottom: 2px solid $accentcolor;
      }
    }
  }
}

.welcome {
  display: flex;
  width: 1344px;
  margin-right: auto;
  margin-left: auto;

  &__textdiv {
    margin-left: 130px;
    position: absolute;
    margin-right: auto;

    &__title {
      margin-top: 158px;
      font-family: $poppins;
      font-size: 100px;
      font-weight: $popp700;
      color: $alltextcolor;
    }

    &__buttons {
      display: flex;
      margin-top: 50px;
      align-items: center;

      &__btn {
        background-color: $accentcolor;
        font-family: 'Roboto', sans-serif;
        border-radius: 24px;
        width: 123px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FCF2EB;
        margin: 0 20px;
        transition-duration: 0.2s;

        &:hover {
          background-color: #FCF2EB;
          color: #E27B3A;
          box-shadow: 0 3px 10px $accentcolor;
          cursor: pointer;
        }
      }
    }
  }

  &__puppy {
    margin-top: 30px;
    margin-left: auto;
  }
}

.penfoods {
  display: flex;
  width: 1255px;
  margin-right: auto;
  margin-left: auto;

  &__item {
    border: 1px solid #ededed;
    margin: 30px;
    width: 360px;
    height: 241px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition-duration: 0.2s;

    &:hover {
      box-shadow: 0 10px 30px rgba(226, 123, 58, 0.4);
    }

    &__title {
      margin: 40px 25px 0;
      font-family: "Poppins", sans-serif;
      font-size: 25px;
      line-height: 37px;
      font-weight: $popp400;
      color: $alltextcolor;
      text-align: center;
      width: 310px;
    }

    &__desc {
      margin: 11px 31px 0;
      font-family: "Roboto", sans-serif;
      color: $alltextcolor;
      text-align: center;
      line-height: 24px;
      width: 298px;
      opacity: 0.6;
    }

    &__button {
      margin: 24px 140px 18px;
      color: $accentcolor;
      font-family: "Roboto", sans-serif;
      text-align: center;

      &:hover {
        color: #c6c6c6;
        cursor: pointer;
      }
    }
  }
}

.popular {
  &__title {
    font-family: $poppins;
    font-weight: $popp500;
    font-size: 32.25px;
    text-align: center;
    color: $alltextcolor;
  }

  &__desc {
    font-family: $roboto;
    font-weight: $robo400;
    color: $alltextcolor;
    line-height: 24px;
    text-align: center;
    opacity: 0.6;
  }

  &__products {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    &__pendent {
      &__background {
        margin: 25px 30px 25px 0;
        background-color: $productsbackground;
        border-radius: 20px;
        width: 555px;
        height: 420px;
        display: flex;

        &__img {
          margin: 71px 91px;
          width: 274px;
          height: 274px;
        }
      }

      &__title {
        font-family: "Poppins", sans-serif;
        font-weight: $popp500;
        font-size: 25px;
        color: #170C04;
        text-align: center;
      }

      &__btn {
        font-family: "Roboto", sans-serif;
        color: #E27B3A;
        text-align: center;
        margin-top: 9px;

        &:hover {
          color: #c6c6c6;
          cursor: pointer;
        }
      }
    }

    &__collar {
      &__background {
        margin: 25px 0;
        background-color: $productsbackground;
        border-radius: 20px;
        width: 555px;
        height: 420px;
        display: flex;

        &__img {
          width: 274px;
          height: 274px;
          margin: 71px 91px;
        }
      }

      &__title {
        font-family: "Poppins", sans-serif;
        font-weight: $popp500;
        font-size: 25px;
        color: #170C04;
        text-align: center;
      }

      &__btn {
        font-family: "Roboto", sans-serif;
        color: #E27B3A;
        text-align: center;
        margin-top: 9px;

        &:hover {
          color: #c6c6c6;
          cursor: pointer;
        }
      }
    }
  }

  &__redcollars {
    display: flex;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;

    &__item {
      &__background {
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FCF2EB;
        width: 360px;
        height: 273px;
      }

      &__title {
        font-family: "Poppins", sans-serif;
        font-weight: $popp500;
        font-size: 25px;
        color: #170C04;
        text-align: center;
      }

      &__btn {
        font-family: "Roboto", sans-serif;
        color: #E27B3A;
        text-align: center;
        margin-top: 17px;

        &:hover {
          color: #c6c6c6;
          cursor: pointer;
        }
      }
    }
  }
}

.subscription {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;

  &__title {
    margin-top: 145px;
    font-family: "Poppins", sans-serif;
    font-weight: $popp500;
    text-align: center;
    font-size: 32.25px;
  }

  &__maindiv {
    margin-top: 36px;
    display: flex;
    width: 1140px;
    margin-right: auto;
    margin-left: auto;

    &__card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &__title {
        margin-top: 51px;
        font-family: "Poppins", sans-serif;
        font-weight: $popp500;
        font-size: 20px;
        text-align: center;
        line-height: 28px;
        color: $alltextcolor;
      }

      &__desc {
        margin-top: 22px;
        line-height: 19px;
        color: $alltextcolor;
        text-align: center;
        font-family: "Roboto", sans-serif;
        opacity: 0.6;
      }

      &__btn {
        margin-top: 15px;
        color: $accentcolor;
        text-align: center;
        font-family: "Roboto", sans-serif;

        &:hover {
          color: #c6c6c6;
          cursor: pointer;
        }
      }
    }
  }

  &__subscribe {
    display: flex;
    justify-content: center;
    margin-top: 46px;

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FCF2EB;
      width: 131px;
      height: 48px;
      font-family: "Roboto", sans-serif;
      background-color: #E27B3A;
      border-radius: 24px;
      transition-duration: 0.2s;

      &:hover {
        background-color: #FCF2EB;
        color: #E27B3A;
        box-shadow: 0 3px 10px $accentcolor;
        cursor: pointer;
      }
    }
  }
}

.gallery {
  margin-top: 130px;
  display: flex;
  width: 1140px;
  margin-left: auto;
  margin-right: auto;

  &__leftside {
    &__title {
      text-align: center;
      font-weight: 500;
      font-size: 32.25px;
      font-family: $poppins;
      color: $alltextcolor;
    }

    &__desc {
      text-align: center;
      font-weight: $robo400;
      font-family: $roboto;
      color: $alltextcolor;
      opacity: 0.6;
      line-height: 24px;
    }

    &__products {
      display: flex;
      flex-wrap: wrap;

      &__1stcollar {
        margin: 26px 30px 30px 0;
        width: 262px;
        height: 170px;
        background-color: rgba(144, 10, 8, 0.2);
        border-radius: 5px;
        transition-duration: 0.2s;

        &:hover {
          background-color: rgba(144, 10, 8, 0.3);
          cursor: pointer;
        }
      }

      &__2ndpendent {
        margin: 26px 29px 30px 0;
        width: 262px;
        height: 170px;
        background-color: rgba(36, 61, 126, 0.2);
        border-radius: 5px;
        transition-duration: 0.2s;

        &:hover {
          background-color: rgba(36, 61, 126, 0.3);
          cursor: pointer;
        }
      }

      &__3rdcollar {
        margin: 0 30px 0 0;
        width: 262px;
        height: 170px;
        background-color: rgba(128, 1, 37, 0.2);
        border-radius: 5px;
        transition-duration: 0.2s;

        &:hover {
          background-color: rgba(128, 1, 37, 0.3);
          cursor: pointer;
        }
      }

      &__4thpendent {
        margin-right: 29px;
        width: 262px;
        height: 170px;
        background-color: rgba(196, 140, 174, 0.2);
        border-radius: 5px;
        transition-duration: 0.2s;

        &:hover {
          background-color: rgba(196, 140, 174, 0.4);
          cursor: pointer;
        }
      }
    }
  }
}

.footer {
  background-color: black;
  margin-top: 250px;
  padding-top: 57.5px;
  &__logo{
    display: flex;
    justify-content: center;

  }
  &__maindiv {
    display: flex;
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    &__left {
      opacity: 0.8;
      color: white;
      text-align: left;
      font-family: "Roboto", sans-serif;
      line-height: 50px;
    }

    &__mid {
      margin-left: 190px;
      font-size: 26px;
      opacity: 0.8;
      color: white;
      font-family: "Roboto", sans-serif;
      text-align: center;
    }

    &__right {
      opacity: 0.8;
      font-family: "Roboto", sans-serif;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: end;
      color: white;
      line-height: 50px;
      margin-left: 365px;
    }
  }
}
